
<div class="bg-success p-5">
  <h3>AnotherChildComponent</h3>
  <input type="text" placeholder="@Placeholder" class="form-control"/>
</div>

@code {

    [Parameter]
    public string Placeholder { get; set; }
}
